<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifica Libro</title>
    <link rel="stylesheet" th:href="@{/stile.css}" />
</head>
<body>

    <div class="admin-container">
        <h1>Modifica Libro</h1>

        <form class="admin-form form-card" th:action="@{/admin/book/update}" th:object="${book}" method="post">

			<input type="hidden" th:field="*{id}" />
			
            <label for="title">Titolo:</label>
            <input type="text" id="title" th:field="*{title}" class="input-field" required/>

            <label for="publicationYear">Anno di pubblicazione:</label>
            <input type="number" id="publicationYear" th:field="*{publicationYear}" class="input-field" required/>

          
			
			
			<!-- List existing authors -->
			    <label>Autori esistenti:</label>
			    <ul>
			        <li th:each="author : *{authors}">
			            <span th:text="${author.name}"></span>
			            <a th:href="@{/admin/book/removeAuthor(bookId=${book.id}, authorId=${author.id})}" class="admin-button-danger-outline">Rimuovi</a>
			        </li>
			    </ul>

				<!-- Dropdown to select existing author -->
				<label for="selectedAuthorId">Aggiungi autore esistente:</label>
				<select name="selectedAuthorId" id="selectedAuthorId" class="input-field">
				    <option value="" selected>-- Seleziona un autore --</option>
				    <option th:each="author : ${availableAuthors}"
				            th:value="${author.id}"
				            th:text="${author.name + ' ' + author.surname}">
				    </option>
				</select>
				
			    <div class="form-buttons">
			        <button type="submit" class="admin-button-outline">Aggiorna</button>
			        <a href="/admin/books" class="admin-button-danger-outline">Annulla</a>
			    </div>
			
			
        </form>
    </div>

</body>
</html>
