<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi Autore</title>
    <link rel="stylesheet" th:href="@{/stile.css}" />
</head>
<body>
<main class="admin-container">
    <a th:href="@{/admin/authors}" class="admin-home-button">← Torna alla Gestione Autori</a>
    <h1>Aggiungi un nuovo autore</h1>

    <form th:action="@{/admin/authors/create}" method="post" th:object="${author}" class="admin-form form-card">
        <label>Nome:</label>
        <input type="text" th:field="*{name}" class="input-field" required />

        <label>Cognome:</label>
        <input type="text" th:field="*{surname}" class="input-field" required />

        <label>Data di nascita:</label>
        <input type="date" th:field="*{bornDate}" class="input-field" required />

        <label>Data di morte (se presente):</label>
        <input type="date" th:field="*{deathDate}" class="input-field" />

        <label>Nazionalità:</label>
        <input type="text" th:field="*{nationality}" class="input-field" />

        <div class="form-buttons">
            <button type="submit" class="auth-button save">Salva</button>
            <a th:href="@{/admin/authors}" class="auth-button back">Torna indietro</a>
        </div>
    </form>
</main>
</body>
</html>
