<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
	<link rel="stylesheet" th:href="@{/stile.css}" />
</head>
<body>
	<form th:action="@{/admin/addBook}" method="post" th:object="${book}">
	    <div>
	        <label for="title">Book Title:</label>
	        <input type="text" th:field="*{title}" id="title" required />
	    </div>

	    <div>
	        <label for="year">Publication Year:</label>
	        <input type="number" th:field="*{publicationYear}" id="year" min="0" required />
	    </div>

	    <div>
	        <label for="authors">Authors:</label>
	        <select th:field="*{authors}" id="authors" multiple size="5" required>
	            <option th:each="author : ${authors}" 
	                    th:value="${author.id}" 
	                    th:text="${author.name}"></option>
	        </select>
	    </div>

	    <div>
	        <button type="submit">Add Book</button>
	    </div>
	</form>

</body>
</html>
